
.container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.selectOrAdd {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: right;
}

.option {
  min-width: 200px;
  border: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  font-size: .9rem;
  height: 2.2rem;
  border-radius: 5px;
  padding: .05em .2em;
}

.input {
  min-width: 200px;
  border: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  font-size: .9rem;
  height: 2.2rem;
  border-radius: 5px;
  padding: .05em .2em;
}
