.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100vw;
}

.card {
  align-self: center;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top: 7vh;
  min-height: 60vh;
  min-width: 400px;
  padding: 2rem;
  width: 70%;
}

label {
  text-align: center;
  align-items: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.checked {
  text-shadow: black 2px 0px 10px;
  font-size: 2.1rem;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

input[type=radio]{
  display: none;
}

.feedback__radioList {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.feedback__title {
  font-size: 1.1rem;
  letter-spacing: .1rem;
  margin-bottom: .3rem;
  font-weight: 500;
}

.feedback__comments {
  width: 100%;
  min-height: 200px;
  font-size: .9rem;
  margin: .3rem 0;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.feedback__date {
  margin-bottom: 1.5rem;
}

.title {
  display: block;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.login__container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
}

.input {
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  font-size: .9rem;
  height: 2.2rem;
  letter-spacing: .1rem;
  min-width: 250px;
  padding: .05em .5em;
  width: 60%;
}

.input::placeholder {
  letter-spacing: .1rem;
}

.error {
  color: #e3262f;
  text-align: center;
  width: 100%;
}



.emojiKey {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

