
.navbar {
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #33383c;
  display: flex;
  justify-content: flex-start;
  padding: .5rem 1rem;
}

.navbar__logo {
  height: auto;
  min-width: 70px;
  width: 20%;
}

.navbar__title {
  font-size: 1.2rem;
  letter-spacing: .1rem;
}

.navbar__left {
  flex: 0 0 5%;
}

.navbar__leftish {
  flex: 1 1 auto;
  justify-self: flex-start;
  padding-left: 1rem;
}

.navbar__right {
  display: flex;
  flex: 0 0 60%;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}

.button {
  background-color: #33383c;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  color: #ffffff;
  display: inline-block;
  font-size: .8rem;
  min-width: 50px;
  padding: .4rem 1rem;
  text-align: center;
}
