.container {
  margin-top: 1rem;
  border-bottom: 1px solid #c3c3c3;
  display: flex;
}

.email {
  margin: .1rem;
  cursor: pointer;
  flex: 1;
  align-self: flex-end;
}
.toggle__container {
  flex: 1;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.toggle {
  margin: 0 1rem;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label {
  display: block;
  text-align: center;
}

.input {
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  font-size: .6rem;
  height: 1.5rem;
  letter-spacing: .05rem;
  min-width: 80px;
  flex: 1;
  margin: 0 0 .4rem 0;
}

.cohortName {
  display: block;
  /* height: 1.5rem; */
  letter-spacing: .05rem;
  min-width: 80px;
  flex: 1;
  margin: 0 0 .4rem 0;
  align-self: flex-end;
}
